inherit_from: .rubocop_todo.yml

AllCops:
  NewCops: enable
  TargetRubyVersion: <%= RUBY_VERSION.split('.').first %>
  SuggestExtensions: false

require:
  - rubocop-rails

Style/Documentation:
  Enabled: false
